extends layout

block content
  section.hero
    .container.hero__grid
      .hero__content
        p.eyebrow Cozy, minimal, modern
        h1 Fresh donuts, warm coffee, and a downtown rhythm.
        p.hero__lede Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .button-row
          a.button.button--primary(href='/menu') Explore the Menu
          a.button.button--secondary(href='/about') Our Story
        ul.hero__stats
          li
            strong 1992
            span Family-owned since day one
          li
            strong Daily
            span Small-batch donuts and coffee
          li
            strong Downtown
            span A cozy stop for morning regulars
      .hero__card
        p.hero__card-label Featured Pairing
        h2 Maple Morning + House Roast
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .hero__card-divider
        dl.hero__highlights
          div
            dt Fresh Case
            dd Lorem ipsum dolor sit amet.
          div
            dt Coffee Window
            dd Lorem ipsum dolor sit amet.

  section.page-section
    .container
      .feature-band
        .section-heading.section-heading--left
          h2 Fresh from the oven
          p.section-heading__copy Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .card-grid.card-grid--three
          each item in featuredItems
            article.card.card--feature
              p.card__tag= item.tag
              h3= item.title
              p= item.description
              p.card__accent= item.accent

  section.page-section
    .container
      .cta-banner
        .cta-banner__content
          p.eyebrow Ready when you are
          h2 Order coffee and donuts fast.
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        .button-row
          a.button.button--primary(href='/comments') Read Customer Comments
          a.button.button--secondary(href=orderUrl target='_blank' rel='noreferrer') Open Order Link
