extends layout

block content
  each sectionData in menuSections
    section.page-section
      .container
        .menu-section
          .section-heading.section-heading--left
            p.eyebrow= sectionData.title
            h2= sectionData.title + ' offerings'
            p.section-heading__copy= sectionData.intro
          .card-grid.card-grid--three
            each item in sectionData.items
              article.card.card--menu
                h3= item.name
                p= item.detail
                a.inline-link(href=orderUrl target='_blank' rel='noreferrer') Ordering placeholder
