extends layout

block content
  section.page-hero
    .container.container--narrow
      h1 Downtown Donuts Menu
      p.page-hero__lede Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      .button-row
        a.button.button--primary(href=orderUrl target='_blank' rel='noreferrer') Order Online
        a.button.button--secondary(href='/comments') Read Comments



  each sectionData in menuSections
    section.page-section
      .container
        .menu-section
          .section-heading.section-heading--left
            p.eyebrow= sectionData.title
            h2= sectionData.title + ' offerings'
            p.section-heading__copy= sectionData.intro
          .card-grid.card-grid--three
            each item in sectionData.items
              article.card.card--menu
                h3= item.name
                p= item.detail
                a.inline-link(href=orderUrl target='_blank' rel='noreferrer') Ordering placeholder
